@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #7286d3;
  --secondary-color: #8ea7e9;
  --accent-color: #e5e0ff;
  --bg-color: #fff2f2;
  --body-font: "Roboto", sans-serif;
  --title-font: "Mulish", sans-serif;
  --primary-color-dark: #0a2647;
  --secondary-color-dark: #144272;
  --accent-color-dark: #205295;
  --bg-color-dark: #2c74b3;
}

.App.light {
  background-color: var(--bg-color);
}
.App {
  transition: all 0.3s ease;
}

* {
  font-family: var(--body-font);
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--title-font);
}
.title span {
  color: var(--primary-color);
}

.sidebar .title {
  background-color: var(--secondary-color);
  padding: 0.5rem;
  text-align: center;
}

/* dark theme */
.App.dark {
  background-color: var(--primary-color-dark);
  color: var(--bg-color);
}

.App.dark .sidebar .title {
  background-color: var(--secondary-color-dark);
}

/* theme switch */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--bg-color-dark);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
